extends layout
block content
  table.table
    thead
      tr
        th
          button.btn.add(data-toggle="modal" data-target="#modal-insert") +
        th Atividades
        th Data
        th Hora
        th
    tbody
      tr
        td
          a(href="#")
            span.glyphicon.glyphicon-pushpin
        td Prova de Matemática
        td Sabádo, 19/11
        td 8:00
        td
          a(href="#")
            span.glyphicon.glyphicon-option-horizontal(data-toggle="modal" data-target="#modal-opcoes")
      tr
        td
          a(href="#")
            span.glyphicon.glyphicon-ok
        td Missa
        td Domingo, 20/11
        td 18:00
        td
          a(href="#")
            span.glyphicon.glyphicon-option-horizontal(data-toggle="modal" data-target="#modal-opcoes")